body{
  padding-top: 55px;
}

.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#beckground{
  background: linear-gradient(rgb(8, 54, 116), rgb(68, 105, 173));
  padding-bottom: 340px;
}

.paddingTela{
  padding-bottom: 340px;
}