body{
  padding-top: 55px;
}

.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#beckground{
  background-image: url(../imagens/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  
  // background: linear-gradient(rgb(177, 228, 39), rgb(68, 148, 44));
  padding-bottom: 340px;
}

.paddingTela{
  padding-bottom: 340px;
}